<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.durante.franz.a115labproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".listofcontents"></activity>
        <activity android:name=".do1st"
            android:theme="@style/AppTheme.SlidrActivityTheme"></activity>
        <activity android:name=".do2nd"
            android:theme="@style/AppTheme.SlidrActivityTheme" ></activity>
        <activity android:name=".do3rd"
            android:theme="@style/AppTheme.SlidrActivityTheme"></activity>
        <activity android:name=".do4th"
            android:theme="@style/AppTheme.SlidrActivityTheme"></activity>
        <activity android:name=".do5th"
            android:theme="@style/AppTheme.SlidrActivityTheme"></activity>
        <activity android:name=".dont1st"
            android:theme="@style/AppTheme.SlidrActivityTheme"></activity>
        <activity android:name=".dont2nd"
            android:theme="@style/AppTheme.SlidrActivityTheme"></activity>
        <activity android:name=".dont3rd"
            android:theme="@style/AppTheme.SlidrActivityTheme"></activity>
        <activity android:name=".dont4th"
            android:theme="@style/AppTheme.SlidrActivityTheme"></activity>
        <activity android:name=".dont5th"
            android:theme="@style/AppTheme.SlidrActivityTheme"></activity>
    </application>

</manifest>